<section class="home d-flex" id="home">

  <!--Start Background Image-->
  <div class="mono-background">
    <div class="mono-background-inner" data-aos-duration="1200" data-aos-delay="450" data-aos="fade-left">
      <img src="https://via.placeholder.com/1405x937" width="1405" height="937" class="img-align-center" alt="">
    </div>
  </div>
  <!--End Background Image-->

  <div class="container introduction text-left" >
    <p class="welcome_text mb-4" data-aos="fade-up" data-aos-duration="1200" data-aos-delay="150">Je suis <span class="welcome-text-type" data-options="Développeur Full Stack, Étudiant en Génie Logiciel, Développeur Web & Mobile" ></span></p>
    <div id="parallax-scene" class="mb-4" data-aos="fade-up" data-aos-duration="1200" data-aos-delay="300">
      <div class="heading-zone">
        <h1>Brou Kablan Christ Brandonne Davy</h1>
      </div>
    </div>
    <div data-aos="fade-up" data-aos-duration="1200" data-aos-delay="450">
      <a href="#about" class="btn  btn-primary btn-small">En savoir plus</a>
    </div>
  </div>
  <div class="scroll-down">
    <a href="#about" class="scroll-down-link text-center hoveroff">
      <div class="scroll-title">Défiler vers le bas</div>
      <div class="scroll-mouse">
        <div class="whell"></div>
      </div>
    </a>
  </div>
</section>
